* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gill Sans, sans-serif;
}

#top {
    background-color: rgb(17, 207, 131);
    color: white;
    font-weight: bold;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav h1, p {
    cursor: pointer;
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    gap: 70px;
}

#search {
    color: white;
    background: url('https://api.iconify.design/ph/magnifying-glass.svg?color=white&width=20&height=20') no-repeat right center;
    background-color: rgb(91, 240, 180);
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
    width: 260px;
    padding-left: 10px;
    height: 35px;
    cursor: pointer;
}

::placeholder {
    color: white;
}

#login {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    gap: 30px;
    margin-left: auto;
    align-items: center;
    cursor: pointer;
}


.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 8px;
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


#main {
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

.h2 {
    margin-bottom: 25px;
}

#high {
   text-align: center;
}

#rec {
    text-align: right;
}

#work {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 250px;
    margin-top: 60px;
    font-weight: bold;
}

#plus {
    background: transparent;
    border: none;
    width: 20px;
    cursor: pointer;
}

#plus:hover, h4:hover {
    background-color: rgb(203, 233, 237);
    border-radius: 4px;
}

h4 {
    width: 270px;
    padding: 5px;
    cursor: pointer;
}

#form1 {
    background-color: rgb(244, 251, 251);
    box-shadow:-1px 1px 5px grey;
    width: 250px;
    height: 160px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 60px;
    right: 0;
}
#form2 {
    background-color: rgb(244, 251, 251);
    box-shadow:-1px 1px 5px grey;
    width: 250px;
    height: 160px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    position: fixed;
    top: 60px;
    right: 0;
    flex-direction: column;
    align-items: center;
    display: none;
}


#form1 input {
    background-color: rgb(244, 251, 251);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
    padding-left: 3px;
    width: 150px;
}

#form2 input {
    background-color: rgb(244, 251, 251);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
    padding-left: 3px;
    width: 150px;
}



.submit {
    border-radius: 10px;
    border: 1px black solid;
    background-color: rgb(244, 251, 251);
    padding: 2px;
    width: 80px;
    font-size: 12px;
    margin-top: 25px;
    cursor: pointer;
    font-weight: bold;
}

.form ::placeholder {
    color:grey;
}

#close1 {
    position: absolute;
    right: 0;
    margin-right: 5px;
    top: 5px;
    border: 1px black solid;
    width: 15px;
    height: 15px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    transform: rotate(45deg);
}

#close2 {
    position: absolute;
    right: 0;
    margin-right: 5px;
    top: 5px;
    border: 1px black solid;
    width: 15px;
    height: 15px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    transform: rotate(45deg);
}
